<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div id="wrapper">
        <h1>회원가입</h1>
        <form method="POST">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" id="signup"value="회원가입">
        </form>
        <p>이미 계정이 있으신가요? <a href="{{ url_for('login_page') }}">로그인</a></p>

        <!-- 이미 이메일이 존재할 경우 JavaScript로 팝업창을 띄운다 -->
        {% if message %}
        <script type="text/javascript">
            // 팝업창을 띄우고, 사용자가 확인을 누르면 로그인 페이지로 이동
            alert("{{ message }}");
            window.location.href = "{{ url_for('login_page') }}"; 
        </script>
        {% endif %}
    </div>


</body>
</html>
